

<h1 class="my-2 text-center"> Aqui renderiza Notas y tareas</h1>

<a href="/formnotasytareas" class="btn btn-success btn-block"> Formulario de Notas y tareas</a>
<div class="container" >
    <div class="row" >
        <!--   ===============================================    -->
        {{#each allTareas}}
        <div class="col-md-4 mx-auto" style="display: flex;justify-content: center;">
            <div class="card my-2 text-dark bg-warning mb-3 cardnotatarea" >
                <div class="card-body mb-0">
                    <h4 class="card-title">{{titulo}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Tarjeta de Tarea / {{terminada}}</h6>
                    
                    <textarea name="" id="textareacomida" cols="22" rows="4">{{description}}</textarea>
                                        
                    <div  id="fecha" class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="{{datetask}}" >
                        <label class="form-check-label" for="{{datetask}}">
                        {{datetask}} 
                        </label>
                    </div>

                    <div class="container-md" id="botonesRenderComidas" >
                    <button class="btn">
                    <a class="card-link" href="/tarea/delete/{{_id}}">Eliminar</a>
                    </button>
                    <!--<form action="/actualizar" method="POST" >-->
                    <input type="hidden" name="id" value="{{_id}}">
                    <button class="btn" type="submit">
                    <a href="/tarea/actualizar/{{_id}}" class="card-link">Actualizar</a>
                    </button>
                    <!--</form>-->
                    </div>

                </div>
            </div>
        </div>
        {{/each}}

        {{#each allNotas}}
        <div class="col-md-4 mx-auto" style="display: flex;justify-content: center;">
            <div class="card my-2 cardnotatarea" >
                <div class="card-body">
                    <h4 class="card-title">{{titulo}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Tarjeta de Nota</h6>
                    <textarea name="" id="textareacomida" cols="22" rows="4" >{{description}}</textarea>
                    <div id="fecha" class="form-check" >
                        <input class="form-check-input" type="checkbox" value="" id="{{fecha}}" checked>
                        <label class="form-check-label" for="{{fecha}}">
                        {{fecha}}
                        </label>
                    </div>
                    <div class="container-md" id="botonesRenderComidas">
                    <button class="btn">
                    <a onclick="myFunctionDelete(){alert("hola")}" class="card-link" href="/nota/delete/{{_id}}">Eliminar</a>
                    </button>
                    <form action="/actualizar" method="POST" >
                    <input type="hidden" name="id" value="{{_id}}">
                    <button class="btn" type="submit">
                    <a class="card-link">Actualizar</a>
                    </button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>



<a href="/formnotasytareas" class="btn btn-success btn-block"> Formulario de Notas y tareas</a>

{{#each allNotas}}
    <input class="misnotas" type="hidden" name="{{titulo}}" value="{{description}}" id="{{fecha}}" >
{{/each}}

{{#each allTareas}}
    <input class="mistareas" type="hidden" name="{{titulo}}" value="{{description}}" id="{{datetask}}/{{terminada}}" >
{{/each}}


<script type="text/javascript" src="js/dinamicaNotasyTareas.js" ></script>