<h1> lista de registros de comida</h1>

<div class="container-flex">
    <div class="row">
        {{#each comidasEngorde}}
        <div class="col-md-4">
            <div id="prueva" class="card my-2">
                <div class="card-header">
                    <h2 class="cart-title d-flex justify-content-between alingn-items-center">
                        <em style=" font-weight:bold; color: rgb(69, 2, 90);">Pollos de {{ponedora_engorde}}</em>
                        <form action="/actualizacion" method="POST">
                            <input name="_id" type="hidden" value="{{_id}}">
                            <button type="submit" class="btn btn-info"> <i class="fas fa-edit fa-2x"></i></button>
                        </form>
                    </h2>
                </div>
                <div class="card-body">
                    <ol id="comidacard">
                        <li><u>Masa Agregada</u> <br>{{masa_agregada}} Kg</li>
                        <li><u>Masa Sobrante</u> <br>{{masa_sobrante}} Kg</li>
                        <li><u>Suple. M/S/F</u> <br>{{suplementos}}</li>
                        <li><u>fecha y hora</u> <br>{{date}}</li>
                    </ol>
                </div>
            </div>
        </div>
        {{/each}}


        {{#each comidasPonedoras}}
        <div class="col-md-4">
            <div id="prueva" class="card my-2">
                <div class="card-header">
                    <h2  id="titulocomida"  class="cart-title d-flex justify-content-between alingn-items-center">
                        <em  style=" font-weight:bold; color: rgb(69, 2, 90);">Pollos de {{ponedora_engorde}}</em>
                        <form action="/actualizacion" method="POST">
                            <input name="_id" type="hidden" value="{{_id}}">
                            <button type="submit" class="btn btn-info"> <i class="fas fa-edit fa-2x"></i></button>
                        </form>
                    </h2>
                </div>
                <div class="card-body">
                    <ol id="comidacard">
                        <li><u>Masa Agregada</u> <br>{{masa_agregada}} Kg</li>
                        <li><u>Masa Sobrante</u> <br>{{masa_sobrante}} Kg</li>
                        <li><u>Suple. M/S/F</u> <br>{{suplementos}}</li>
                        <li><u>fecha y hora</u> <br>{{date}}</li>
                    </ol>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script type="text/javascript" src="js/dinamicaComidaAves.js"></script>